* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #501f61;
    --primary-accent: #1D1735;
    --secondary: #EB0A00;
    --secondary-accent: #EB0797;
    --text-color: #000;

    --font-cursive: 'Meow Script', cursive;
    --font-text: 'Quicksand', sans-serif;
    --font-heading: 'Poppins', sans-serif;
}


body {
    background-color: #000;
}

main {
    margin-bottom: 50px;
}

nav {
    background-color: var(--secondary);
}

h1 {
    color: #fff;
    margin-top: 125px;
    margin-bottom: 50px;
    text-align: center;
    font-family: var(--font-heading);
    font-size: 1.5rem;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    font-family: var(--font-cursive);
    font-size: 2rem;
}

p {
    color: #fff;
    font-family: var(--font-text);
    padding: 0 25px;
}

.photo {
    display: block;
    margin: 0 auto;
    height: 400px;
    width: auto;
    border: solid 15px var(--secondary);
    border-radius: 8px;
}

.sidebyside {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    /* space between columns */
    align-items: center;
    justify-content: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


@media only screen and (min-width: 962px) {

    h1 {
        text-align: left;
        margin-left: 25px;
    }

    h2 {
        font-size: 2.5rem;
    }

    .sidebyside {
        grid-template-columns: 1fr 1fr;
    }

    .photo {
        max-height: 600px;
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .container2 {
        line-height: 1.6;
    }
}