/*tablet and up*/
/*for screens 768px or wider*/


@media screen and (min-width: 768px) {

    nav a .logo {
        max-width: 30%;
        /* Ensure the image is responsive */
        height: auto;
        /* Maintain aspect ratio */
        margin-left: 2rem;
    }

    h1#top {
        font-size: 5.5rem;
    }

    .content h1 {
        font-size: 7.5rem;
    }

    #about h1 {
        font-size: 6rem;
    }

    #about h2 {
        font-size: 3rem;
    }

}

/*Desktop and up*/
/*for screens 1200px or wider*/

@media screen and (min-width: 1100px) {

    /**************home banner*****************/

    nav a .logo {
        max-width: 30%;
        /* Ensure the image is responsive */
        height: auto;
        /* Maintain aspect ratio */
        margin-left: 2rem;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        text-align: center;
        padding: .75rem;
    }

    .content {
        text-align: center;
    }

    h1#top {
        font-size: 8rem;
    }

    .content h1 {
        font-size: 12rem;
    }

    .content h2 {
        font-size: 120px;
        margin-top: 8rem;
    }

    #about h1 {
        font-size: 6rem;
    }

    #about h2 {
        font-size: 3rem;
    }

    #spotlight-cards {
        width: 1200px;

        margin: 0 auto;
    }


}