/*tablet and up*/ 
/*for screens 768px or wider*/


@media screen and (min-width: 768px) {

    nav a .logo {
        max-width: 30%;
        /* Ensure the image is responsive */
        height: auto;
        /* Maintain aspect ratio */
        margin-left: 2rem;
    }

    .content h1 {
        font-size: 100px;
    }

    .content h2 {
        font-size: 80px;
    }

    #about h1 {
        font-size: 5rem;
    }

    #about h2 {
        font-size: 2.5rem;
    }

    #contact h1 {
        color: #fff;
        font-size: 4rem;
    }


}