/*************** LARGE SCREENS ****************/
@media only screen and (min-width: 1025px) {

    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1200px;
        column-gap: 20px;
    }

}




   