footer {
    background-color: var(--dark-2);
    padding: 40px;
    min-height: 220px;
    box-sizing: border-box;
}

footer p {
    font-family: var(--paragraph-font);
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.5;
}

.social {
    text-align: center;
    margin: 20px 0;
}

.social img {
    width: 25px;
    height: 25px;
    margin: 5px 8px 15px 0;
}

footer .date {
    min-height: 1.5em; /* reserve height for JS content */
}


@media only screen and (min-width: 962px) {

        footer {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        align-items: center;
        gap: 16px;
        padding: 2rem;
    }

    .social img {
        width: 40px;
        height: 40px;
    }
}