@media only screen and (min-width: 962px) {

    main {
    display: block;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

 
    #members {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 16px;
        margin-top: 20px;
    }

    #members.list .member-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem 1.5rem;
        width: 100%;
        box-sizing: border-box;
    }
}



@media only screen and (min-width: 768px) {

    header span {
        font-size: 1.5rem;
    }

    .social img {
        width: 30px;
        height: auto;
    }

}