:root {
    --dark-1: #d93831;
    --secondary-1: #277ea1;
    --dark-2: #171738;
    --secondary-2: #FDB833;
    --light: #FFD07B;
    --light-blue: #9999b1;

    --heading-font: "Bitter", serif;
    --fancing-heading: "Rouge Script", serif;
    --paragraph-font: "Figtree", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/***************** MAIN ********************/
main {
    margin: 40px 40px 60px 40px;
}

h1.page-title {
    font-family: var(--paragraph-font);
    color: var(--dark-2);
    font-size: 1.5rem;
}

h2 {
    font-family: var(--fancing-heading);
    font-size: 2.5rem;
    text-align: center;
    color: var(--dark-1);
    margin-bottom: 50px;
}

.toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.toggle button {
    padding: 8px 10px;
    cursor: pointer;
}

.toggle button:hover {
    transform: translateY(-2px);
    /* subtle lift effect */
}

button#grid-btn {
    background: #fff;
    border: solid 2px var(--secondary-1);
    border-radius: 10px;
    color: var(--secondary-1);
    font-family: var(--paragraph-font);
    font-weight: bold;
}

button#list-btn {
    background: var(--secondary-1);
    border: solid 2px var(--secondary-1);
    border-radius: 10px;
    color: #fff;
    font-family: var(--paragraph-font);
    font-weight: bold;
}

/********************** Directory ***********************/

/*** CONTAINER STYLES ***/
#members {
    display: grid;
    gap: 16px;
    margin-top: 20px;
}

/*** GRID VIEW ***/
#members.grid .member-card {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    padding: 16px;
}



/*** LIST VIEW ***/
#members.list {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

#members.list .member-card {
    gap: 2rem;
    padding: 1rem;
    border: solid 1px var(--light);
}

/* Make images smaller in list view */
#members.list .member-card img {
    display: none;
}

#members.list .member-card h3 {
    margin: 0;
}


/*makes every other section (or business) a different color*/
#members.list section.member-card:nth-child(even) {
    background-color: var(--light);
}

/*************styles the whole member card that was created in members.js***************/
#members.grid .member-card {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    padding: 16px;
}

.member-card img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.member-card h3 {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.member-card p {
    font-family: var(--paragraph-font);
    margin: 5px 0 5px 0;
    text-align: center;
}

.member-card a {
    color: var(--dark-1);
    font-weight: bold;
}

.member-card a:hover {
    color: var(--secondary-1);
}

