@media only screen and (min-width: 798px) {


    header {
        grid-template-columns: 50px auto;
    }


    /*hides the hamburder on larger screens*/
    .hamburger {
        display: none;
    }

    /*shows the navigation on larger screens*/
    .navigation {
        display: block;
        border-bottom: solid 1px #ddd; /*adds a border to the bottom of the navigation (menu) that extends to the whole length*/
        background-color: var(--green);
    }
    
    .navigation ul {
        display: flex;
    }

    .navigation li {
        flex: 1;
        text-align: center;
        border: solid 1px #E2DBBE;
    }

    .navigation a {
        border: none; /*removes border from nav anchor that only extends to the length of the menu names. Can add a border to the bottom in .navigation like you see above.*/
    }
    

    .about {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 25px;
        margin-bottom: 32px;
        /* align-items: stretch; */
    }

    /* .about-me {
        display: flex;
        flex-direction: column;
    } */

    /* .about-me p {
        flex: 1;
        margin: 0;
    } */
}