
:root{
    --dark-1: #171738;
    --secondary-1: #587291;
    --dark-2: #ef3e36;
    --secondary-2: #2f97c1;
    --light-color: #1ccad8;
    
    --heading-font: "Bitter", serif;
    --fancy-font: "Rouge Script", serif;
    --paragraph-font: "Figtree", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
}

header {
    margin-bottom: 2rem;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--dark-2);
    text-transform: uppercase;
}

h2 {
    color: var(--light-color);
    font-family: var(--fancy-font);
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    background-color: var(--dark-1);
    font-size: 25px;
}

.wireframe {
    display: flex;
    justify-content: space-evenly;
}
